@{
    ViewBag.Title = "Home Page";
}

<main>
    <div class="container mt-5">
        <h1 class="display-4">Welcome to Our Study Group Portal</h1>
        <p class="lead">This is a simple starting sample home page. Not really sure what to put here</p>

        <div class="row mt-4">
            <div class="col-md-4">
                <h2>Our Group</h2>
                <p>We're a group of students doing what they can for a good mark. Our team consists of Andani, Dakalo, Mary, Moeletsi, and Zoe.</p>
            </div>
            <div class="col-md-4">
                <h2>Our Goals</h2>
                <p>Our main objective is to pass but obviously learn from each other. Maybe the pass is the friend's we made on the way</p>
            </div>
            <div class="col-md-4">
                <h2>Get Started</h2>
                <p>Navigate to the drop down menu on the navigation bar to view all out details and even our individual pages. Safe travels adventurer</p>
            </div>
        </div>
    </div>
</main>